*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,800;1,300;1,400;1,500;1,800&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}


/*-----header-----*/
header nav ul li {
    font-weight:bold;
    font-size:larger;
    list-style: none;
}
header nav{
    display: flex;
    flex-wrap: wrap;
}
header a img{
    height: 100px;
    margin: 10px;
}
header nav ul li a{
    text-decoration: none;
    color:#35524A;
    cursor: pointer;
    font-size: 15px;
    /* font-weight: bold; */
    margin: 10px ;
    width: 100%;
    height: 100%;
}
header nav ul li a:hover{
    color: #669f8f;
}


header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0%;
}
header nav ul {
    display: flex;
    align-items: center;
    padding: 40px;
}


/*---------------MAIN-------------*/

/*--------INDEX---------*/

main .titulo {
    width: 100%;
    /* height: calc(00 - 00) sirve para calcular valores */
    height:calc(100vh - 123px) ;
    text-align: center;
    background-image: url("../img/index-imagen-principal.webp");
    background-size:cover;
    background-attachment: fixed;
    color: #515AE1;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
main .titulo a{
    text-decoration:none;
    width: 319px auto;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

main .titulo h1{
    color: #151515;
    background-color: rgba(240, 248, 255, 0.508);
    border-radius: 5px;
    font-size: 50px;

}
main .titulo a div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 5px solid #FEE440;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
}
main .titulo a div p{
    color: cornsilk;
    font-size: 20px;
    transition-property: all;
    transition-duration: 1.1s;
}
main .titulo a div p:hover{
    font-size: 25px;
}

main .empresas div .img-empresas{
    width: 400px;
    height: 400px;
    border: 5px solid #FEE440;
    box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
transition-duration: 1.1s;
}
main .empresas div .img-empresas:hover{
    transform: scale(1.01);
}
main .empresas div .img-empresas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .empresas div{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    flex-flow: row wrap;
}
main .empresas div .empresas-texto .titulo-empresas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    margin: 20px;
    padding: 5px;
    border: 5px solid #FEE440;
    width: 300px;
    height: 40px;
    transition-duration: 1.5s;
}
main .empresas div .empresas-texto .titulo-empresas:hover{
    transform: scale(1.1);
}

main .empresas div .empresas-texto .titulo-empresas a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .empresas div .empresas-texto .titulo-empresas a h3{
    color: cornsilk;
    text-align: center;
    font-size: 15px;
    transition-property: font-size;
    transition-duration: 1.5s;
}
main .empresas div .empresas-texto .titulo-empresas a h3:hover {
    font-size: 17px;
}
main .empresas div .empresas-texto .parrafo p{
    text-align: center;
}
main .empresas div .empresas-texto .parrafo{
    width: 600px;
}
main .empresas div .empresas-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ------------------- */



main .personas div{
    display: flex;
    justify-content: space-around;
    /* flex-direction: row-reverse; */
    flex-flow: row-reverse wrap;
    margin: 10px;
}
main .personas div .personas-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .personas div .personas-texto .titulo-personas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    margin: 20px;
    padding: 5px;
    border: 5px solid #FEE440;
    width: 300px;
    height: 40px;
    transition-duration: 1.5s;
}
main .personas div .personas-texto .titulo-personas:hover{
    transform:scale(1.1);
}
main .personas div .personas-texto .titulo-personas a{
    text-decoration: none;
}
main .personas div .personas-texto .titulo-personas a h3{
    color: cornsilk;
    text-align: center;
    font-size: 15px;
    transition-property: font-size;
    transition-duration: 1.5s;
}
main .personas div .personas-texto .titulo-personas a h3:hover{
    font-size: 17px;
}
main .personas div .personas-texto .parrafo p{
    text-align: center;
}
main .personas div .personas-texto .parrafo{
    width: 600px;
}
main .personas div .img-personas{
    width: 400px;
    height: 400px;
    border: 5px solid #FEE440;
    box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
transition-duration: 1.1s;
}
main .personas div .img-personas:hover{
    transform:scale(1.01);
}
main .personas div .img-personas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------------- */

main .consejos {
    display: flex;
    flex-direction: column;
}
main .consejos div h3{
    padding: 10px;
}
main .consejos .consejos-titulo h2 {
    text-align: center;
    color: cornsilk;
    background-color: #151515;
    padding: 20px;

}
main .consejos .consejos-caja {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}
main .consejos .consejos-caja .caja-prin{
    border: 5px double #FEE440;
    text-align: center;
    width: 360px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
    transition-duration: 1.5s;
}
main .consejos .consejos-caja .caja-prin:hover{
    transform: scale(1.01);
}
main .consejos .consejos-caja div .caja-img{
    width: 100%;
    height: 350px;
}
main .consejos .consejos-caja div .caja-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*list-style: scuare inside; sirve para colocar los puntitos junto a los elementos*/
main .consejos div ul {
    list-style: square inside;
}

/* ------------- */

main .galeria .galeria-titulo h2 {
    text-align: center;
    color: cornsilk;
    background-color: #151515;
    padding: 20px;
}
main .galeria .galeria-titulo{
    margin-bottom: 20px;
}
section .galeria-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: repeat(6,200px);
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

section .galeria-contenedor .grid-intem img{
    width: 100%;
    height: 100%;
    /* padding: 10px; ----> gap: ; */
    object-fit: cover;
}
section .galeria-contenedor .grid-intem{
    gap: 10px;
    box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
transition-duration: 1.1s;
}
section .galeria-contenedor .grid-intem:hover {
    transform: scale(1.01);
}

section .caja-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-row: 1/3; */
}

section .caja-4 {
    grid-row: 2/4;
}

section .caja-6 {
    grid-column: -3/-1;
}

section .caja-7{
    grid-row: 4/6;
    /* grid-column: 3/4; */
}
section .caja-8{
    grid-column: 2/4;
}

section .caja-10{
    grid-row: 5/7;
}



/**------SERVICIOS-------*/



main .titulo-servicios {
    width: 100%;
    height: 80vh;
    background-image: url("../img/servicio-foto-principal.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .titulo-servicios .tex h2{
    background-color: rgba(240, 248, 255, 0.508);
    border-radius: 5px;
    font-size: 50px;
}
main .titulo-servicios .boton div p{
    background-color: rgba(240, 248, 255, 0.508);
    border-radius: 5px;
    font-size: 20px;
}
main .titulo-servicios .boton{
    display: flex;
    flex-direction: row;
}
main .titulo-servicios .boton div a{
    margin-top: 10px;
    font-size: 20px;
    transition-duration: 1.5s;
}
main .titulo-servicios .boton .enlace:hover {
    transform: scale(1.1);
}

main .titulo-servicios .boton div a{
    text-decoration: none;
    padding: 1px;
    border: 5px solid #FEE440;
    background-color: #151515;
    color: #FEE440;
    font-size: 30px;
    border-radius: 5px;
    margin: 5px;
}


/*------------------------*/
main .servicios-ofrecidos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main .servicios-ofrecidos .caja-servicios{
    border: 5px double #FEE440;
    width: 420px;
    /* height: 500px; */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
transition-duration: 1.1s;
    transition-duration: 1.1s;
}
main .servicios-ofrecidos .caja-servicios:hover{
    transform: scale(1.01);
}
main .servicios-ofrecidos .caja-servicios .servicios-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
main .servicios-ofrecidos .caja-servicios .servicios-img{
    width: 100%;
    height: 345px;
    padding: 5px;
}
main .servicios-ofrecidos .caja-servicios .servicios-tex{
    width: 100%;
    height: 30%;
    padding: 5px;
}
main .servicios-ofrecidos .caja-servicos .servicios-tex  p {
    width: auto;
}
main  .servicios-ofrecidos .caja-servicios .servicios-tex div a h3{
    text-align: center;
    width: auto;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    padding: 5px;
    border: 5px solid #FEE440;
    color: cornsilk;
}
main  .servicios-ofrecidos .caja-servicios .servicios-tex div a{
    text-decoration: none;
}
main  .servicios-ofrecidos .caja-servicios .servicios-tex div{
    transition-duration: 1.1s;
}
main  .servicios-ofrecidos .caja-servicios .servicios-tex div:hover {
    transform: scale(1.05);
}
main  .servicios-ofrecidos .caja-servicios .servicios-tex p{
    text-align: center;
}


/*------TRABAJA PARA NOSOTROS-------*/
main .trabaja-titulo {
    background-image: url("../img/trabaja-con-nosotros1.jpg");
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-attachment: fixed;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
main .trabaja-formulario .caja-de-formulario{
    border: 5px dashed #FEE440;
}
main .trabaja-formulario .caja-de-formulario form{
    text-align: center;
}

/*------NOSOTROS-------*/
main .titulo-nosotros {
    background-image: url("../img/nosotros-principal.jpg");
    background-size: cover;
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-attachment: fixed;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

main .nosotros-historia div {
    border: 5px solid #FEE440;
    text-align: center;
}
main .nosotros-historia div img {
    width: 700px;
    height: 400px;
}
main .nosotros-historia div p{
    width: 700px;
    text-align: center;
}
main .nosotros-tecniguay h2{
    text-align: center;
    padding: 20px;
}

main .nosotros-tecniguay div p {
    width: 700px;
    text-align: center;
}
main .nosotros-tecniguay div {
    border: 5px solid #FEE440 ;
}

main .nosotros-atributos h2 {
    text-align: center;
    padding: 20px;
}
main .nosotros-atributos div img {
    width: 150px;
}
main .nosotros-atributos div{
    width: 200px;
    text-align: center;
    font-weight: bold;
}
/* ----------LLAMANOS----------- */

main .llamanos {
    position: fixed;
    bottom: 5%;
    right: 3%;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.662);
}

/*------CONTACTO-------*/
main .contacto-titulo{
    background-image: url("../img/contacto-principal.jpg");
    background-size: cover;
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-attachment: fixed;
    font-style: italic;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main .contacto-titulo h1{
    background-color: rgba(240, 248, 255, 0.508);
}
main .caja-formulario-direccion{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    font-weight: bold;
}
main .caja-formulario-direccion .contacto-atencion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
main .caja-formulario-direccion .contacto-atencion .mapa-texto{
    width: 300px;
    margin-bottom: 10px;
}
main .caja-formulario-direccion .contacto-atencion .mapa-texto  h2{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
main .caja-formulario-direccion .contacto-atencion .mapa-texto p{
    text-align: center;
    font-size: 15px;
}

main .caja-formulario-direccion .contacto-atencion{
    background-color: rgba(0, 0, 0, 0.769);
    color: cornsilk;
    height: 610px;
    width: 600px;
    border: 2px solid #FEE440;
    border-radius: 5px;
}
main .caja-formulario-direccion .contacto-atencion .mapa{
    width: 100%;
    height: 100%;
}
main .caja-formulario-direccion .contacto-atencion .mapa iframe{
    height: 100%;
    width: 100%;
    padding: 5px;
}

main .caja-formulario-direccion .formulario {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.769);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #FEE440;
    height: 610px;
    margin-top: 20px;
    margin-bottom: 20px;

}
main .caja-formulario-direccion .formulario .titulo-form{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: cornsilk;
    font-size: 20px;
    text-align: center;
}

main .caja-formulario-direccion .formulario form div .caja-texto{
    width: 220px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #FEE440;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
}
main .caja-formulario-direccion .formulario form .tipo-equipo{
    padding-top: 10px;
    padding-bottom: 10px;
    color: cornsilk;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
main .caja-formulario-direccion .formulario form .tipo-equipo .select{
    background-color: black;
    border: 0.5px solid #FEE440;
    color: cornsilk;
    border-radius: 5px;
}
main .caja-formulario-direccion .formulario form .tipo-lugar{
    padding-top: 10px;
    padding-bottom: 10px;
    color: cornsilk;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
main .caja-formulario-direccion .formulario form .botones .boton{
    background-color: black;
    border: 0.5px solid #FEE440;
    color: cornsilk;
    border-radius: 5px;
    padding: 5px;
}

/*-----footer-----*/

footer div .footer-logo img {
    width: 200px;
}
footer div .footer-logo{
    width: 250;
}
footer div .links-de-interes ul li a h3{
    list-style: square inside;
    text-align: left;
    font-size: medium;
}
footer div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 300px;
}
footer div .redes div{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 250px;
}
footer div .redes div .redes-logo a img {
    height: 100%;
    width: 100%;
    border: 5px solid #FEE440;
    margin: 5px;
    box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.75);
    transition-duration: 1.1s;
        transition-duration: 1.1s;
}
footer div .redes div .redes-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div .redes div .redes-logo{
    width: 50px;
    height: 50px;
}
footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin: 40px; */
    flex-wrap: wrap;
    height: 400px;
}

/* ------MEDIA QUERY--- RESPONSIVE-------- */

@media screen and (max-width:1040px) {

/* --------------FOOTER----------------- */

    footer div {
        height: auto;
    }
}
@media screen and (max-width:900px){

/* ----------INDEX------------ */

    section .galeria-contenedor{
        grid-template-columns: 1fr 1fr ;
        grid-auto-rows: 200px;
    }
    section .galeria-contenedor .grid-intem{
        grid-column: span 1;
        grid-row: span 1;
    }
    main .titulo h1{
        font-size: 27px;
    }
}
@media screen and (max-width:890px) {

/* ----------INDEX------------ */

    main .titulo h1{
        font-size: 25px;
    }

/* --------------HEADER-------------- */

    header nav ul{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width:830px){

/* --------------HEADER-------------- */

        header nav ul li{
        font-size: medium;
        font-weight:bold;
}
}
@media screen and (max-width:798px){

/* --------------HEADER-------------- */

    header nav ul{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media screen and (max-width:706px){

/* --------------HEADER-------------- */

header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
}
header nav ul{
    padding: 5px;
}

}

@media screen and (max-width:656px){

/* ----------INDEX------------ */

    main .llamanos h4{
        display: none;
    }
    main .llamanos p{
        display: none;
    }
    main .titulo a p{
        padding: 5px;
    }
    section .galeria-contenedor{
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(12,200px);
    }

/* ----------SERVICIOS----------- */

    main .titulo-servicios .tex h2{
        font-size: 25px;
    }
    main .titulo-servicios .boton div p{
        font-size: 15px;
    }
    main .titulo-servicios .boton div a{
        font-size: 15px;
    }

}
@media screen and (max-width:630px){

    /* ----------INDEX------------ */

    main .empresas div .empresas-texto .parrafo{
        width: 400px;
    }
    main .personas div .personas-texto .parrafo{
        width: 400px;
    }
}
@media screen and (max-width:514px){

/* ----------INDEX------------ */

    main .titulo h1{
        font-size: 20px;
    }
    main .titulo h1 p{
        font-size: 10px;
    }
}
@media screen and (max-width:458px){

/* --------------HEADER-------------- */

    header nav ul{
        flex-direction: column ;
        margin-bottom: 5px;
    }
    header nav ul li{
        margin-top: 5px;
    }

/* --------------INDEX----------------- */

    main .personas div .img-personas{
        width: 270px;
        height: 270px;
    }
    main .empresas div .img-empresas{
        width: 270px;
        height: 270px;
    }
    main .empresas div .empresas-texto .parrafo{
        width: 270px;
    }
    main .personas div .personas-texto .parrafo{
        width: 270px;
    }
    main .personas div .personas-texto .titulo-personas{
        width: 270px;
        margin: 10px;
        padding: 4px;
    }
    main .empresas div .empresas-texto .titulo-empresas{
        width: 270px;
        margin: 10px;
        padding: 5px;
    }

/* -------------FOOTER----------------- */
    footer div .links-de-interes{
        width: 250px;
    }

/* ----------SERVICIOS----------- */

    main .titulo-servicios .boton div p{
        font-size: 10px;
    }
    main .titulo-servicios .boton div a{
        font-size: 10px;
    }
    main .servicios-ofrecidos .caja-servicios{
        height: 550px;
    }
}